* {
  border: 1px solid black;
}

.banner {
  min-height: 100vh;
  background-image: url("../img/leaves.jpg");
  background-size: cover;
}

.dog {
  background-image: url("../img/dog.jpg");
  background-size: cover;
  background-position: center;
  min-height: 75vh;
}

.bed {
  background-image: url("../img/bed.jpg");
  background-size: cover;
  background-position: center;
  min-height: 75vh;
}

.pencil {
  min-height: 70vh;
  background-image: url("../img/pencil.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 2rem;
  margin: .5rem 0 0 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 5rem;
  margin: 0;
}

h4 {

}

h5 {

}

h6 {

}
/* text helpers */
.text-center {
  text-align: center;
}

.text-white {
    color: white;
}

.text-yellow {
  color: #FFBE00;
}

/* font helpers */
.roboto-regular {
  font-family:'Roboto', sans-serif;
  font-weight: 400;
}

.roboto-bold {
  font-family:'Roboto', sans-serif;
  font-weight: 700;
}

/* spacing helpers */
.padding-left {
  padding-left: 5%;
}

.padding-right {
  padding-right: 5%;
}

.padding-left-right {
  padding-left: 5%;
  padding-right: 5%;
}
