* {
  /* border: 1px solid black; */
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  line-height:1.45;
}

.banner {
  min-height: 100vh;
  background-image: url("../img/leaves.jpg");
  background-size: cover;
}

.dog {
  background-image: url("../img/dog.jpg");
  background-size: cover;
  background-position: center;
  min-height: 75vh;
}

.bed {
  background-image: url("../img/bed.jpg");
  background-size: cover;
  background-position: center;
  min-height: 75vh;
}

.pencil {
  min-height: 70vh;
  background-image: url("../img/pencil.jpg");
  background-size: cover;
  background-position: left -120px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4rem;
}

h5 {
  font-size: 1.5rem;
}

h5.special-margin {
  margin-bottom: 1rem;
}

h6 {
  font-size: 3rem;
  line-height: 1;
}

p {
  font-size: 1rem;
}

/* quote section */
.quote {
  min-height: 50vh;
}

.quote q {
  font-size: 2rem;
}

.quote p {
  font-size: 1.5rem;
  opacity: 0.25;
}

/* contact form */

.contact-form {
  background-color: #192B37;
  min-height: 50vh;
}

.contact-form form * {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom:10px;
  padding: 12px 8px;
  border-radius: 8px;
  border-color: transparent;
  font-size: 1.2rem;
}

.contact-form button {
  background-color: #FFBE00;
  border-color: #FFBE00;
  color: white;
}

/* text helpers */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-white {
    color: white;
}

.text-yellow {
  color: #FFBE00;
}

.contact-form-yellow {
  display: block;
}

/* font helpers */
.roboto-regular {
  font-family:'Roboto', sans-serif;
  font-weight: 400;
}

.roboto-bold {
  font-family:'Roboto', sans-serif;
  font-weight: 700;
}

/* spacing helpers */
.padding-left {
  padding-left: 5%;
}

.padding-right {
  padding-right: 5%;
}

.padding-left-right {
  padding-left: 5%;
  padding-right: 5%;
}

.margin-left-right-none {
  margin-left: 0;
  margin-right: 0;
}

.margin-top-bottom-none {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-top-none {
  margin-top: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}
